swift_algorithms.app.dSYM.zip
swift_algorithms.ipa

# Xcode local settings
**/*.xcworkspace/xcuserdata
**/*.xcworkspace/xcshareddata
**/*.xcodeproj/xcuserdata

**/Pods/

# Fastlane
*/fastlane/report.xml
